model_config_list {
  config {
    model_platform: 'tensorflow'
    name: 'predict_spend_a'
    base_path: '/models/predict_spend_a'
  }
  config {
    model_platform: 'tensorflow'
    name: 'predict_spend_b'
    base_path: '/models/predict_spend_b'
  }
  config {
    model_platform: 'tensorflow'
    name: 'predict_activity_change_a'
    base_path: '/models/predict_activity_change_a'
  }
  config {
    model_platform: 'tensorflow'
    name: 'predict_activity_change_b'
    base_path: '/models/predict_activity_change_b'
  }
}
